@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  background-image: 
    linear-gradient(to bottom, rgb(255, 255, 255), #4f39f627),
    radial-gradient(circle, #442dd76e 0px, transparent 2px),
    radial-gradient(circle, #442dd76e 0px, transparent 2px),
    repeating-linear-gradient(to left, #442dd700 0px, #442dd700 1px, transparent 1px, transparent 38px),
    repeating-linear-gradient(30deg, #442dd71a 0px, #442dd71a 1px, transparent 1px, transparent 19px),
    repeating-linear-gradient(-30deg, #442dd71a 0px, #442dd71a 1px, transparent 1px, transparent 19px);
  
  background-size: 
    100% 100%,
    38px 22px,
    38px 22px,
    19px 11px,
    76px 22px,
    76px 22px;
  background-position: 
    0 0,
    0 0,
    19px 11px,
    0 0,
    0 0,
    0 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Winky Sans font styles */
.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.winky-sans-thin {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.winky-sans-light {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.winky-sans-regular {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.winky-sans-medium {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.winky-sans-semibold {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.winky-sans-bold {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.winky-sans-extrabold {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.winky-sans-black {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Chango font styles */
.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}
